* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* --------------------------------- FONTS -------------------------------------------- */

h1 {
    font-family: 'DM Serif Display', serif;
}

h5 {
    font-size: 1.1rem;
}

p {
    font-size: 0.9rem;
}

/* -------------------------------- Header: logo y barra de búsqueda ----------------------------------------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 200, 200);
    margin: 0;
    height: fit-content;
}

.boxOne {
    display: none;
}

.logo {
    position: left;
    width: 20%;
    height: auto;
    margin-left: 5rem;
}

.btn {
    background-color: rgb(177, 177, 177);
    border-color: aqua;
    align-items: center;
}

.btn:hover {
    background-color: #e47a8b;
}

.btn-outline-success {
    border-color: #af4d5e;
    border-radius: 50%;
    border-width: 0.2rem;
}


/* ---------------------------------------- NavBar Boostrap ----------------------------- */
.navbar {
    background-color: #ffb2bf;
}

#navbarNavAltMarkup {
    justify-content: center;
}


.navbar-nav {
    background-color: #ffb2bf;
}

.nav-link {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
}


.nav-link:hover {
    background-color: #ff9eae;
    color: white;
}

.active {
    background-color: #e47a8b;
    color: white;
}

/* ------------------------------------ MAIN --------------------------------- */

.mainText {
    margin: 5rem;
    padding-top: 2rem;

}

.subtituloMain {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;

}


/* ------------------------------- GALLERÍA DE FOTOS ---------------------------------- */

.gallery__imgUno {
    width: 100%;
}


/* ---------------------------------- ÚLTIMOS LANZAMIENTOS ---------------------------------- */

.book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}


.book__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.book__card:hover {
    border: 0.1rem solid #262626;
    text-decoration-line: none;
    transform: scale(1.1, 1.1);

}

a {
    color: #262626;
    text-decoration-line: none;
}

/* ------------------------------------ GRID -------------------------------------------- */

.catalogo__background {
    background-color: background-color: rgb(226, 255, 243);
}

.catalogo__novedades {
    background-color: rgb(226, 255, 243);
    padding: 5rem;
    grid-area: novedades;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.catalogo__generos{
    display: grid;
    grid-template-areas:
        "novedades novedades"
        "ficcion noFiccion"
        "novelaGrafica indie"
        "publicidad publicidad";
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.3rem;
    justify-content: center;
    align-content: center;
}


.catalogo__generos--ficcion {
    grid-area: ficcion;
    width: fit-content;
}

.catalogo__generos--ficcion:hover {
    border: 0.1rem solid #262626;
    text-decoration-line: none;
    transform: scale(1.1, 1.1);
}

.catalogo__generos--noFiccion {
    grid-area: noFiccion;
    width: fit-content;
}

.catalogo__generos--noFiccion:hover {
    border: 0.1rem solid #262626;
    text-decoration-line: none;
    transform: scale(1.1, 1.1);
}

.catalogo__generos--indie {
    justify-self: stretch;
    width: fit-content;
}

.catalogo__generos--indie:hover {
    border: 0.1rem solid #262626;
    text-decoration-line: none;
    transform: scale(1.1, 1.1);
}

.catalogo__generos--novelaGrafica {
    justify-self: stretch;
    width: fit-content;
}

.catalogo__generos--novelaGrafica:hover {
    border: 0.1rem solid #262626;
    text-decoration-line: none;
    transform: scale(1.1, 1.1);
}



/* ---------------------------- */ 

#grilla {
    display: grid;
    grid-area:
        "avatar avatar publicidad"
        "avatar avatar publicidad"
        "avatar avatar avatar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.avatar {
    grid-area: avatar;
    display: flex;
    flex-wrap: nowrap;
}

.publicidad {
    grid-area: publicidad;
}


/* -------------------------------------- FORMULARIO --------------------------------------- */

/* Contacto - Imagen de fondo */

.contacto__background {
    background-image: url('../img/contacto.png');
    background-color: antiquewhite;
    justify-self: center;
    width: fit-content;

}

/* Cajas */

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.form__columna--izquierda {
    width: 20%;
    text-align: left;
    margin: 2rem;
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 5%;
}

.form__columna--derecha {
    width: 50%;
    margin: 2rem;
}

/* formulario */

.fieldset {
    background-color: aliceblue;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5%;
}

form legend {
    font-size: 2rem;
}

form .textForm {
    font-family: 1.5rem;
}

form placeholder {
    font-family: 1.5rem;
}

/* ---------------------------------- LIBRO ---------------------------------- */

.libro {
    margin: 5rem;
    padding-top: 2rem;
    display: flex;
}

.libro__info {
    position: left;
    margin: 2rem;
}

.libro__sinopsis {
    position: right;
    margin: 2rem;
}

/* --------------------------------- NOSOTROS ------------------------------------ */
.about {
    display: grid;
    grid-template-areas:
        "nosotros nosotros nosotros avatares"
        "nosotros nosotros nosotros avatares"
        "redes redes redes avatares";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
}

.nosotros {
    grid-area: nosotros;
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.avatares {
    grid-area: avatares;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #e47a8b;

}

.avatares img {
    width: 70%;
    border-radius: 50%;
    border: 0.5rem;
    border-style: dashed;
    border-color: #bc5768;
    margin: 2rem;
}

.nuestrasRedes {
    grid-area: redes;
    margin-left: 5rem;
    align-self: end;
    justify-self: center;
}


/* ---------------------------------- FOOTER ---------------------------------- */


.footer {
    background-color: rgb(200, 200, 200);
    display: grid;
    grid-template-areas:
        "redes redes redes"
        "links editorial editorial"
        "info editorial editorial"
        "copyright copyright copyright";
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.footer__redes {
    grid-area: redes;
    grid-column: span 3;
    justify-self: center;
}

.footer__redes--img {
    width: 3rem;
    height: 3rem;
}


.footer__links {
    grid-area: links;
    padding-left: 2rem;
}

.footer__links li {
    list-style: none;
    font-size: 0.9rem;
    color: rgb(47, 47, 47);
}

.footer__links a {
    text-decoration-line: none;
    color: black;
}

.footer__links a:hover {
    color: rgb(255, 40, 205);
}

.footer__editorial {
    grid-area: editorial;
}

.footer__info {
    list-style-type: info;
    padding-left: 2rem;
}

.footer__copyright {
    background-color: rgb(20, 18, 53);
    text-align: center;
    height: 1.8rem;
    grid-column: span 3;
}

.footer__copyright p {
    color: white;

}

.footer__subtitulo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}



/* -------------------------------- TABLET -------------------- */
@media (max-width: 768px) {

    /* Logo */


    .logo {
        justify-self: center;
        max-inline-size: 100%;
        block-size: auto;
    }

    img {
        justify-content: center;
        max-inline-size: 100%;
        block-size: auto;
        object-fit: cover;
    }


    /* Navbar */

    .navbar {
        background-color: #ffb2bf;
    }

    .navbar__lista {
        height: auto;
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .navbar__lista--item {
        display: inline;
        text-align: center;
        align-self: center;
        padding: 0.9vh;
    }

    .navbar__lista--item a {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        text-decoration-line: none;
        font-size: 1.5vh;
        font-weight: 500;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-right: 1.5vh;
        padding-left: 1.5vh;
    }



    /* Últimos lanzamientos */

    .subtituloMain {
        text-align: center;
        padding-top: 5vh;
        font-size: 3vh;
    }

    .book {
        padding-bottom: 5vh;
    }

    .book__new {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: 1vh;
        margin: 1vh;
        display: inline-block;
        align-items: center;
        justify-content: center;
    }


    /* Footer */
    .footer {
        display: grid;
        grid-template-areas:
            "redes redes"
            "links editorial"
            "info editorial"
            "copyright copyright";
        grid-template-columns: 1fr 1fr;
    }

    .footer__redes {
        grid-column: span 2;
        align-self: center;
    }

    .footer__copyright {
        grid-column: span 2;
        align-self: center;
    }

    .footer__copyright p {
        font-size: 2vh;
    }



}


/* -------------------------------- CELULAR -------------------- */
@media screen and (max-width: 480px) {

    /* Fonts */

    h5 {
        font-size: 2vh;
    }

    p {
        font-size: 1.5vh;
    }

    li {
        font-size: 1.5vh;
    }


    /* Logo */
    .logo {
        justify-self: center;
    }

    img {
        max-inline-size: 100%;
        block-size: auto;
    }


    /* Navbar */

    body {
        margin: 0;
    }

    .navbar__lista {
        height: auto;
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .navbar__lista--item {
        display: inline;
        text-align: center;
        align-self: center;
        padding: 0.7vh;
    }

    .navbar__lista--item a {
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        text-decoration-line: none;
        font-size: 1vh;
        font-weight: 500;
        padding-top: 1h;
        padding-bottom: 1vh;
        padding-right: 1vh;
        padding-left: 1vh;
    }



    /* Últimos lanzamientos */

    .subtituloMain {
        text-align: center;
        padding-top: 5vh;
        font-size: 3vh;
    }

    .book {
        margin: 0;
        padding-bottom: 5vh;
    }

    .book__new {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: 1vh;
        display: inline-block;
        align-items: center;
        justify-content: center;
    }


    /* Footer */
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .footer__copyright p {
        font-size: 1.5vh;
    }



}