@charset "UTF-8";
/* variables */
/* colors */
/* spacings */
/* font-family */
/* font-size */
/* resets */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* fonts */
body {
  font-family: "Lato", sans-serif; }

.main {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* fonts */
.title {
  font-size: 2em;
  text-align: center;
  padding: 0; }

.subtitle {
  font-size: 1.4em;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.parrafo {
  padding: 0;
  margin: 0; }

blockquote {
  font-family: "Lato", sans-serif;
  margin-left: 2rem;
  margin-right: 2rem; }

/* listas y links */
ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.links {
  text-decoration-line: none;
  color: #1a1a1a;
  font-weight: 600; }
  .links:hover {
    color: #ff28cd; }

/* botones */
.button {
  background-color: #e47d8e;
  border-color: gray solid; }

/* mixins */
/* header */
.header .logo {
  width: 50%;
  height: auto; }

.header__navbar {
  background-color: #ffb3bf;
  padding: 1rem; }

.header__navbar--items {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 600; }
  .header__navbar--items a {
    color: white; }
  .header__navbar--items:hover {
    background-color: #e47d8e;
    color: white; }

.header .navbar__btn {
  background-color: #e47d8e;
  border-color: #1a1a1a;
  border-radius: 50%; }
  .header .navbar__btn:hover {
    background-color: #ffb3bf;
    border-color: #1a1a1a; }

.header .active {
  background-color: #ca6173;
  padding-right: 1rem;
  padding-left: 1rem; }

.header__toggler {
  position: absolute; }

.banner {
  background-color: #141414;
  color: #d6d6d6;
  text-align: center;
  text-transform: uppercase; }
  .banner__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    .banner__text p {
      margin: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem; }

/* footer */
.footer {
  background-color: #cecece; }
  .footer__lista {
    list-style-type: none;
    margin: 0; }
  .footer__lista a {
    text-decoration-line: none;
    color: black; }
  .footer__lista a:hover {
    color: #ff28cd; }
  .footer .icon {
    font-size: 1.4em;
    color: #1a1a1a; }
    .footer .icon:hover {
      color: #e47d8e; }
  .footer__copyright {
    background-color: #e47d8e;
    width: 100%;
    margin: 0;
    height: 1.8rem;
    align-content: center;
    grid-column: span 3; }
    .footer__copyright p {
      font-size: 0.8rem;
      text-align: center; }
    .footer__copyright__columnas {
      flex-direction: row;
      justify-content: space-between; }
      .footer__copyright__columnas .columnaDos {
        flex-direction: row; }

/* páginas */
.newsletter {
  background-color: #141414;
  justify-content: center;
  padding: 2rem;
  color: #d6d6d6;
  text-align: center; }

.shelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .shelf__book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .shelf__book a {
      color: #1a1a1a;
      text-decoration-line: none;
      text-align: center; }
    .shelf__book:hover {
      transform: scale(1.05, 1.05); }

.generos {
  position: relative;
  width: 50%; }
  .generos .imagen {
    display: block;
    width: 100%;
    height: auto; }
  .generos .texto {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .generos .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .5s;
    background-color: #1a1a1a; }
  .generos:hover .overlay {
    opacity: 0.9; }

.fondo {
  background-color: #ffffff;
  background-image: linear-gradient(#0e5a2275 0.8px, transparent 0.8px), linear-gradient(90deg, #0e5a227a 0.8px, transparent 0.8px), linear-gradient(#0e5a22 0.4px, transparent 0.4px), linear-gradient(90deg, #0e5a22 0.4px, #e5e5f7 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px; }

.columna {
  padding-top: 2rem; }

.autores {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.redondeada {
  border-radius: 2%;
  padding: 2rem; }

.fondo2 {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#ffc2e9 1.15px, #e9e9e9 1.15px);
  background-size: 23px 23px; }

.libro__datos {
  padding-right: 2rem;
  padding-left: 2rem; }

.libro__sinopsis {
  padding-right: 2rem;
  padding-left: 2rem; }

.nosotros {
  display: flex;
  justify-content: center; }
  .nosotros__imagen {
    width: 30%;
    height: auto;
    border-radius: 50%;
    padding: 2rem; }

.cajita {
  position: relative; }
  .cajita .imagen {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%; }
  .cajita .overlay {
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background-color: #1a1a1a; }
  .cajita .texto {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .cajita:hover .overlay {
    opacity: 1; }

/* media queries */
@media (max-width: 1279px) {
  .logo {
    width: 20%; }
  .title {
    padding-top: 1.5rem; }
  .subtitle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .carousel-text {
    display: none; }
  .columna {
    padding-right: 2rem; }
  .alt {
    display: none; }
  .libro {
    flex-direction: column; }
    .libro__datos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-right: 0;
      padding-left: 0; }
      .libro__datos .tapa {
        padding-right: 2rem; }
      .libro__datos .info {
        padding-left: 2rem; } }

@media (max-width: 768px) {
  .main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .banner__text {
    font-size: x-small; }
  .logo {
    width: 50%; }
  .title {
    padding: 0;
    font-size: 2em; }
  .subtitulo {
    font-size: 1.4em; }
  p {
    font-size: small; }
  .carousel {
    display: none; }
  .carousel-text {
    display: none; }
  .shelf {
    justify-content: center;
    width: fit-content; }
  .footer__copyright {
    display: none; }
  .footer__columnas {
    flex-direction: column;
    justify-content: start;
    padding-right: 1rem; }
    .footer__columnas .columnaDos {
      flex-direction: column; }
  .footer .columnaDos {
    flex-direction: column;
    padding-bottom: 1rem; }
  .footer__lista {
    font-size: small;
    list-style-type: none; }
  .libro {
    flex-direction: column; }
    .libro__datos {
      flex-direction: column;
      justify-content: center;
      align-content: center; }
    .libro .parrafo {
      display: none; }
  .genre {
    flex-direction: column; }
    .genre .generos {
      margin: 0;
      width: 100%; }
  .fila-uno {
    flex-direction: column; }
    .fila-uno .cajita {
      padding-top: 1rem;
      padding-bottom: 1rem; }
  .fila-dos {
    display: none; }
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros img {
      width: 100%; }
  .contacto {
    flex-direction: column; }
  .alt {
    display: none; } }
