@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #1a1a1a; }

.h5 {
  font-size: 1rem;
  font-weight: 600; }

/* ------------- header (header, navbar e iconos) ------------- */
.header {
  background-color: #f8f8f2; }
  .header__logo img {
    width: 40%;
    height: auto; }
  .header__navbar {
    background-color: #ffb3bf; }
  .header__navbar--items {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600; }
    .header__navbar--items:hover {
      background-color: #e47d8e;
      color: white; }
  .header .navbar__btn {
    background-color: #ffb3bf;
    border-color: #1a1a1a;
    border-radius: 50%; }
    .header .navbar__btn:hover {
      background-color: #e47d8e;
      border-color: #1a1a1a; }
  .header .active {
    background-color: #af4d5e;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

/* ------------- footer ------------- */
.footer {
  background-color: #c8c8c8; }
  .footer__lista {
    list-style: none; }
  .footer__lista a {
    text-decoration-line: none;
    color: black; }
  .footer__lista a:hover {
    color: #ff28cd; }
  .footer .icon {
    font-size: 2rem;
    color: #1a1a1a; }
    .footer .icon:hover {
      color: #e47d8e; }
  .footer__copyright {
    background-color: #ffb3bf;
    width: 100%;
    margin: 0;
    height: 1.8rem;
    align-content: center;
    grid-column: span 3; }
    .footer__copyright p {
      font-size: 0.8rem;
      text-align: center; }

/* ------------- index: últimos lanzamientos ------------- */
.book a {
  color: #1a1a1a;
  text-decoration-line: none;
  text-align: center; }

.book:hover {
  transform: scale(1.05, 1.05); }

/* ------------- catálogo: libros por géneros ------------- */
.catalogo__col:hover {
  color: #1a1a1a;
  transform: scale(1.1, 1.1); }
