/* colors */
$color-primary: rgb(255, 179, 191);
$color-secondary: rgb(228, 125, 142); 
$accent-color:  rgb(255, 40, 205);
$text-color: rgb(26, 26, 26); 
$text-accent: rgb(255, 255, 255);

/* spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* font-family */
$font-principal: 'Lato', sans-serif;
$font-title: 'DM Serif Display', serif;

/* font-size */
$text-large: 5em;
$text-medium: 2em;
$text-base: 1.4em;
$text-small: 1.1em;