.header {
    .logo {
        width: 50%;
        height: auto;
    }

    &__navbar {
        background-color: $color-primary;
        padding: 1rem;
    }

    &__navbar--items {
        text-align: center;
        text-transform: uppercase;
        font-size: $text-small;
        font-weight: 600;

        a {
            color: $text-accent;
        }

        &:hover {
            background-color: $color-secondary;
            color: $text-accent;
        }
    }

    .navbar__btn {
        background-color: $color-secondary;
        border-color: rgb(26, 26, 26);
        border-radius: 50%;

        &:hover {
            background-color: $color-primary;
            border-color: rgb(26, 26, 26);
        }
    }

    .active {
        background-color: #ca6173;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    &__toggler{
        position: absolute;
    }

}
.banner {
    background-color: rgb(20, 20, 20);
    color: rgb(214, 214, 214);
    text-align: center;
    text-transform: uppercase;

    &__text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        p {
            margin: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}