.generos {
    position: relative;
    width: 50%;

    .imagen {
        display: block;
        width: 100%;
        height: auto;
    }

    .texto {
        color: white;
        font-size: $text-medium;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        opacity: 0;
        transition: .5s;
        background-color: rgb(26, 26, 26);
    }

    &:hover .overlay {
        opacity: 0.9;
    }
}
