.title {
    font-size: $text-medium;
    text-align: center;
    padding: 0;
}

.subtitle {
    font-size: $text-base;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.parrafo {
    padding: 0;
    margin: 0;
}

.button {
    background-color: $color-secondary;
    border-color: gray solid;
}

.links {
    text-decoration-line: none;
    color: $text-color;
    font-weight: 600;

    &:hover {
        color: $accent-color;
    }

}


.shelf {
    @include flex(row, center, center);

    &__book {
        @include flex(row, center, center);

        a {
            color: rgb(26, 26, 26);
            text-decoration-line: none;
            text-align: center;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }

    }

}


/*--------------- catalogo ---------------- */

.generos {
    position: relative;
    width: 50%;

    .imagen {
        display: block;
        width: 100%;
        height: auto;
    }

    .texto {
        color: white;
        font-size: $text-medium;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        opacity: 0;
        transition: .5s;
        background-color: rgb(26, 26, 26);
    }

    &:hover .overlay {
        opacity: 0.9;
    }
}


.cajita {
    position: relative;

    .imagen {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .overlay {
        position: absolute;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s;
        background-color: rgb(26, 26, 26);
    }

    .texto {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &:hover .overlay {
        opacity: 1;
    }
}


.nosotros{
    display: flex;
    justify-content: center;

    &__imagen{
        width: 30%;
        height: auto;
        border-radius: 50%;
        padding: 2rem;
    }

}




/* contacto */

.fondo {
    background-color: #ffffff;
    background-image: linear-gradient(#0e5a2275 0.8px, transparent 0.8px), linear-gradient(90deg, #0e5a227a 0.8px, transparent 0.8px), linear-gradient(#0e5a22 0.4px, transparent 0.4px), linear-gradient(90deg, #0e5a22 0.4px, #e5e5f7 0.4px);
    background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
    background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
}

.columna {
    padding-top: 2rem;
}

.autores {
    display: flex;
    @include flex(row, center, center);
}

.redondeada {
    border-radius: 2%;
    padding: 2rem;
}
